    body{
        font-family: Montserrat;
        font-style: normal;
    }

    .gray {
        background: gray;
    }

    .header_menu{
        margin: 25px 0;
        list-style-type: none;
         text-align: center;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 2.7px ;  
    }
    a{
        text-decoration: none;
        color: #FF0000;
    }
    .header_menu_item{
        display: inline;
        padding-right: 72px;
        width: 68px;
        height: 27px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FF0000;
    }
    .theme_button {
        border: 2px solid gray;
        padding: 10px;
        text-align: center;
    }
    .image_div{
        text-align: center;
    }
    .image{
        width: 1280px;
        height: 789px;
    } 
    .content_title{
        margin-top: 48px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 774px;
        height: 29px;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 3.3px;
         text-transform: uppercase;
        color: #373737;
    }
    .content_text{
        padding-top: 38px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 1145px;
        height: 132px;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        letter-spacing: 2.4px;  
        color: #373737;
    }
    .second_par {
         padding-top: 28px;
    }
    main{
        padding-bottom: 66px;
    }
    footer{
        font-family: Montserrat;
        font-weight: bold;
    }
    .button {
        margin-top: 70px;
        text-align: center;
    }
    .btn {
        text-align: center;
        padding: 18px 43px;
        background: #FF0000;
        color: #FFFFFF;
        border-radius: 4px;
        font-size: 12px;
        line-height: 12px;
    }
    .footer_text{
        text-align: center;
        padding-top: 82px;
        padding-bottom: 29px;
        letter-spacing: 2.4px;
        color: #373737;
    }